{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_items %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Product: {{item.product.title}}</h5>
          <p class="card-text">Quantity: {{item.quantity}}</p>
          <p class="card-text fw-bold">Price: {{item.total_cost}}</p>
        </div>
      </div>
    {% endfor %}
    <p class="fw-bold">Total Cost + Rs. 70 = {{totalcost}}</p>
    <small>(Rs. 70 Delivery Charge)</small>
    <hr>
    <small class="text-muted">Terms and Conditions: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <small class="text-muted">Terms and Conditions: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone" id="myform">
    {% for ad in add %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ad.name}}</h5>
          <p class="card-text">{{ad.locality}}, {{ad.city}}, {{ad.state}} - {{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}" checked>
          <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
            Address: {{ forloop.counter }}
          </label>
        </div>
      {% endfor %}
      <div class="border p-3">
        <p class="fw-bold">Payment Options:</p>
        <ul class="list-unstyled">
          <li class="mb-3">
            <a href="{% url 'payment'  %}" class="btn btn-primary btn-block">Pay With Razorpay</a>
          </li>
          <li>
            <form action="/paymentdone" id="myform">
              {% csrf_token %}
              <input type="submit" class="btn btn-success btn-block" value="Cash On Delivery">
            </form>
          </li>
        </ul>
      </div>
    </form>
  </div>
 </div>
</div>
{% endblock main-content %}

{% block payment-gateway %} 
{% if payment %}
<form action="{% url 'payment-status' %}" method="POST">
    {% csrf_token %}
    <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_48Z9LMTDVAN5JU"
            data-amount="{{ payment.amount }}"
            data-currency="{{ payment.currency }}"
            data-order_id="{{ payment.id }}"
            data-buttontext="Pay with Razorpay"
            data-name="Cold Coffee Shop"
            data-description="Have a Cold Coffee that will make your mood fresh!"
            data-image="https://example.com/your_logo.jpg"
            data-prefill.name="{{ payment.name }}"
            data-prefill.email="you@example.com"
            data-theme.color="#F37254"
    ></script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
{% endif %}
{% endblock payment-gateway %}
