{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-5">
  <div class="col-sm-6 offset-sm-3">
   <div class="card shadow">
    <div class="card-body">
     <h3 class="card-title text-center">Login <i class="fas fa-sign-in-alt"></i></h3>
     <hr>
     <form action="" method="post" novalidate class="p-4">
       {% csrf_token %}
       {% for fm in form %}
        <div class="form-group mb-3">
         {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
        </div>
       {% endfor %}
       <div class="text-end mb-3">
        <small><a href="{% url 'password_reset' %}">Forgot Password? <i class="fas fa-lock"></i></a></small>
       </div>
       <button type="submit" class="btn btn-primary btn-block">Login <i class="fas fa-sign-in-alt"></i></button>
       <div class="text-center mt-3">
        <small class="text-muted">New to Foody? <a href="{% url 'customerregistration' %}" class="text-primary">Create an Account <i class="fas fa-user-plus"></i></a></small>
       </div>
       {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
         <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
       {% endif %}
      </form>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}
